body {
	background-color: #f5f5f5;
}

#calculator {
	border: 1px solid black;
	height: 400px;
	background-color: #333333;
	font-family: 'Orbitron', sans-serif;
	border-radius: 5px;
}

#display {
	height: 4rem;
	background-color: #e6c856;
}

button {
	max-width: 5rem;
}

button:active {
	transform: scale(0.98);
}

.count-display {
	height: 80%;
}

@media (min-width: 700px) {
	#calculator {
		max-width: 50%;
	}
}
